@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "Inter", sans-serif;
}

input {
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
