.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  max-height: 60px;
  box-shadow: -1px 1px 6px 0px rgba(220, 220, 220, 0.75);
  -webkit-box-shadow: -1px 1px 6px 0px rgba(220, 220, 220, 0.75);
  -moz-box-shadow: -1px 1px 6px 0px rgba(220, 220, 220, 0.75);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.liTag {
  cursor: pointer;
  margin: 8px;
}

.rounded {
  border-radius: 100%;
}
