.container {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.anotherContainer {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.description {
  margin-left: 10px;
}
.timestamp {
  font-size: 10px;
  color: gray;
  text-align: center;
}
